
<div class="centerr">
    <title> Add Promotion</title>
  
    <form #f="ngForm" (ngSubmit)="form" >
    <div class="centerform"> <div class="form-group" >
      <label>Label</label>
      <!-- <input type="text"  class="form-control-sm"  [(ngModel)]="promotion.libellePromotion"   #c="ngModel" required> -->
      <input type="text"  class="form-control-sm" name="libellePromotion" [(ngModel)]="promotion.libellePromotion" #c="ngModel"  required minlength="3">
      <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
        <div *ngIf="c.errors?.required">this fiels is required</div>  
        <div *ngIf="c.errors?.minlength">Code minimul length 3</div>
    </div>
    </div></div>
      <div class="centerform"> <div class="form-group" >
        <label>pourcentage</label>
        <!-- <input type="text"  class="form-control-sm" required [(ngModel)]="promotion.pourcentage"  formControlName="pourcentage"> -->
        <input type="number"  class="form-control-sm"  name="pourcentage"  [(ngModel)]="promotion.pourcentage"  #l="ngModel"  required min="0">
        <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
          this fiels is required
        </div>
      </div></div>
  
    <div class="centerform "><div class="form-group">
      <label>Product </label>
      <!-- <select class="btn btn-secondary dropdown-toggle" required  [(ngModel)]="promotion.idProduit" formControlName="product"> -->
        <select class="form-control-ldadd"  name="product"  [(ngModel)]="promotion.idProduit" #ca="ngModel" required>
        <option *ngFor="let produit of produits" [ngValue]="produit">{{produit.libelle}}</option>
     </select>
     <div class="alert alert-danger" *ngIf="ca.invalid && ca.touched">
      <div *ngIf="ca.errors?.required">You must select a product</div>
    </div>
    </div></div>
    <div class="centerbutton">
  <div class="centerr" >
    <!-- <input class="btn btn-primary"  (click)="save()" type="submit" value="Add Product"> -->
    <input class="btn btn-primary"  (click)="save()" type="submit" [disabled]="f.invalid" value="Add Product">
    <input class="btn btn-pinterest"  type="reset" value="Reset">
  </div>
    </div>
  </form>
  </div>
