<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Promotion</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">eCommerce</a>
                                </li>
                                <li class="breadcrumb-item active">Promotion
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                <div class="form-group breadcrum-right">
                    <button class="btn gradient-light-primary text-white" *ngIf="!isButtonVisible" (click)="showForm()">Add Promotion</button >
                    <button class="btn gradient-light-primary text-white"  *ngIf="isButtonVisible" (click)="showList()" >Go back</button>    
                </div>
            </div>
        </div>
        <app-form-promotion *ngIf="showFormTemplate">

        </app-form-promotion>
        <div class="content-body" *ngIf="!showFormTemplate">
            <!-- Basic example and Profile cards section start -->
            <section id="basic-examples">
                <div class="row match-height">
                    <div *ngFor="let promotion of promotions" class="col-xl-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <img class="card-img img-fluid mb-1" src="../../assets/images/pages/content-img-2.jpg" alt="Card image cap">
                                    <h5 class="mt-1">{{promotion.idProduit.libelle}}</h5>
                                    <p class="card-text">{{promotion.libellePromotion}}</p>
                                    <div class="d-flex justify-content-between">
                                        <small class="float-left font-weight-bold mb-25" id="example-caption-1">{{(promotion.idProduit.prixUnitaire * promotion.pourcentage)/100}} DT</small>
                                        <small class="float-right  mb-25" id="example-caption-2">{{promotion.idProduit.prixUnitaire}} DT</small>
                                    </div>
                                    <div class="progress progress-bar-primary box-shadow-6">
                                        <div id="mygraph" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" [style.width.%]="promotion.pourcentage" aria-describedby="example-caption-2"></div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="float-left">
                                            <p class="font-medium-2 mb-0">{{promotion.pourcentage}} %</p>
                                        </div>
                                        <div class="float-right">
                                            <button  (click)="deletePromotion(promotion.idPromotion)" class="btn btn-outline-primary"><i class="feather icon-trash"></i> Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</div>
