<div class="card" style="width: 18rem;">
  <img src="https://thumbs.dreamstime.com/b/linear-group-icon-customer-service-outline-collection-thin-line-vector-isolated-white-background-138644548.jpg" class="card-img-top" alt="provider's image">
  <div class="card-body">
    <h5 class="card-title">{{product.code}}</h5>
    <p class="card-text">{{product.libelle}}</p>

    <button class="btn btn-outline-warning" (click)="updateNotif()">update</button>
    &nbsp;
    <button class="btn btn-outline-danger" (click)="deleteNotif()">delete</button>



  </div>
</div>
