.centerform{
  max-width: 700px;
  width: 200px;
  margin: auto;
border: 10px #0C102A;
  display: flex;
align-items: center;
  justify-content: center;
}

.centerbutton{
  max-width: 700px;
  width: 200px;
  margin: auto;
  border: 10px #0C102A;
  display: inline;
  align-items: center;
  justify-content: center;
}

.centerr{
max-width: 1000px;
  width: auto;
height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centercard{
width: auto;
  height: auto;
  margin-top: 100px;
  margin-left: 550px;
  margin-right: -300px;
  display: flex;
align-items: center;
  justify-content: center;

}

.form-control-ld{
  display: flex;
  width: 70%;
  height: calc(1em + 1rem + 2px);
  padding: 0.5rem 1.5rem;
  font-size: 0.7rem;
  line-height: 1;
  border-radius: 4px;
  margin-left: 20px;
}

.cat{
  display: flex;
margin-left: 20px;
}
